@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

*, button, input, textarea {
  border: 0;
  outline: 0;
  line-height: 20px;
}